@import url("./reset.css");

body {
  font-family: "Crimson Text", sans-serif;

  color: #000000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: calc(26 / 20);
  letter-spacing: 3px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

  max-width: 395px;
}

@media screen and (min-width:1012px) {
  .container{
    max-width: 1012px;
  }
}

/* STYLES OF HEADER  */
.header {
  padding-bottom: 36px;

  background-color: #faf9f8;
}

@media screen and (min-width:1012px) {
  .header{
    padding-bottom: 47px;
  }
}

@media screen and (max-width:1011px) {
  .header{
    padding-top: 16px;
  }
}

@media screen and (max-width:1011px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:1011px) {
  .nav{
    margin-left: 32px;
  }
}

.link-nav{
  display: block;
}

.link-logo,
.link-nav {
  padding-top: 13px;
  padding-bottom: 13px;

  line-height: calc(21 / 16);

  color: currentColor;

  transition: color 250ms linear;
}

@media screen and (min-width:1012px) {
  .link-logo,
  .link-nav{
    padding-top: 46px;padding-bottom: 46px;
  }
}

.link-logo:hover,
.link-logo:focus,
.link-nav:hover,
.link-nav:focus {
  color: #8e9a82;
}

.list-nav{
margin-left: 88px;

  display: flex;
  gap: 50px;
}

@media screen and (max-width:1011px) {
  .list-nav{
    display: none;
  }
}

.button-mobile {
  position: relative;

  display: block;

  width: 63px;
  height: 47px;

  background-color: #8e9a82;
  border-radius: 6px;

  cursor: pointer;
}

@media screen and (min-width:1012px) {
  .button-mobile{
    display: none;
  }
}

.button-mobile::before,
.button-mobile::after {
  content: " ";

  transform: translate(-50%, 0%);
}

.button-mobile::before,
.button-mobile::after,
.button-mobile > span {
  position: absolute;
  left: 50%;

  display: block;

  width: 41px;
  height: 5px;

  background-color: #d9d9d9;
}

.header-container > .button-mobile::before {
  top: 8px;
}

.header-container > .button-mobile::after {
  bottom: 8px;
}

.header-container > .button-mobile > span {
  top: 50%;
  transform: translate(-50%, -50%);
}

/* STYLES OF HERO  */
.hero {
  padding-bottom: 49px;
  margin-bottom: 19px;

  background-color: #faf9f8;
}

.hero-title {
  margin-bottom: 17px;

  font-size: 32px;
  font-weight: 400;
  line-height: calc(42 / 32);
  letter-spacing: 4.8px;
}

.hero .description-img {
  margin-left: 32px;

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.hero-description {
  margin-bottom: 26px;

  font-size: 14px;
  line-height: calc(18 / 14);
}

.hero-button {
  font-size: 13px;
  line-height: calc(17 / 13);
  letter-spacing: 1.95px;

  min-width: 151.5px;
  height: 31.8px;

  color: #ffffff;
  background-color: #8e9a82;
  border-radius: 59px;
}

/* STYLES OF CATEGORIES  */
.categories {
  background-color: #f5f5f5;
}

.title-categories {
  margin-bottom: 25px;
}

.images-categories {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

/* STYLES OF NEW-COLLECTION  */
.new-collection {
  padding-top: 38px;
  padding-bottom: 60px;
}

.new-collection-container {
  position: relative;
}

.new-collection-container::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -60px;
  left: 50%;

  width: 375px;
  height: 204px;

  background-color: #dbdbdb;
  z-index: -1;
  transform: translate(-50%);
}

.title-new-collection {
  margin-bottom: 34px;
}

.new-collection-images {
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

.new-collection-images > .img-first,
.new-collection-images > .img-third {
  margin-top: 5px;
}

.new-collection-description {
  margin-right: auto;
  margin-left: auto;

  max-width: 298px;

  font-size: 15px;
  line-height: calc(19 / 15);
  letter-spacing: 2.25px;

  text-align: center;
}

/* STYLES OF ABOUT  */
.about {
  padding-top: 24px;
  padding-bottom: 90px;

  background-color: #faf9f8;
}

.about-container {
  max-width: 303px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-about {
  margin-bottom: 13px;

  font-weight: 700;
}

.about .description {
  margin-bottom: 33px;

  line-height: calc(21 / 16);

  text-align: center;
}

.about-img {
  margin-bottom: 33px;
}

.about .description.size {
  margin-bottom: 30px;

  font-size: 15px;
}

.about-link {
  width: 149px;
  height: 43px;

  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 2.1px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: currentColor;
  border-radius: 10px;
  border: 5px solid #8e9a82;
}

/* STYLES OF FOLLOW  */
.follow {
  position: relative;
  z-index: 0;
  padding-top: 34px;
  padding-bottom: 77px;

  background-color: #f1f1f1;
}


.follow::after{
  content: " ";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 375px;
  height: 323px;
  
  background-color: #DBDBDB;
  z-index: -1;
  transform: translate(-50%);
}

.title.title-follow {
  margin-bottom: 33px;

  font-weight: 700;
}

.form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;

  width: 257px;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
}

input {
  margin-bottom: 9px;
  padding-left: 6px;

  height: 81px;

  color: #000000;

  border-radius: 10px;
  border: 5px solid #8e9a82;
  background-color: transparent;
  background-color: red;
  outline: transparent;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 15px;
  line-height: calc(19 / 15);
}

textarea {
  margin-bottom: 41px;

  resize: none;

  border-radius: 10px;
  border: 5px solid #8e9a82;
  background-color: transparent;
  background-color: red;
}

.button-form {
  padding-top: 14px;
  padding-bottom: 14px;

  width: 100%;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 2.25px;

  border-radius: 10px;
  background-color: #8e9a82;

  color: #ffffff;
}

.follow-img{
  margin-left: auto;
  margin-right: auto;
}